<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/header') %>
    <link rel="stylesheet" href="/stylesheets/resume.css">
    <title>Deepjyoti Roy | Resume</title>
</head>
<body>
    <header id="header" class="header-tops">
        <div class="container">
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li class="active"><a href="/resume">Resume</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav><!-- .nav-menu -->
        </div>
    </header>

    
    <section id="resume" class="resume section-show">
        <div class="container">
          <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Deepjyoti Roy</h4>
                <p>
                    <em>
                        Self Learning Software Development. Worked with Full Stack Technologies such as Angular, Java and MySQL along with version control tool, git. Skilled in using Business Intelligence tools such as SQL Server Integration Service and Power BI.
                    </em>
                </p>
                <p>
                <ul>
                  <li>Navi Mumbai, Maharastra, India</li>
                  <li>+91 (626) 462-7502</li>
                  <li>deepjyotiroy079@gmail.com</li>
                </ul>
                </p>
              </div>
    
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelor of Engineering (I.T.)</h4>
                <h5>2016 - 2020</h5>
                <p><em>Rajiv Gandhi Proudyogiki Vishwavidyalaya, Bhopal</em></p>
                <p>
                    <ul>
                        <li>Fundamentals of Computer Programming</li>
                        <li>Object-Oriented Programming</li>
                        <li>Principles of Software Development</li>
                        <li>Design and Analysis of Algorithms</li>
                        <li>Operating Systems</li>
                        <li>File and Database Management</li>
                    </ul>
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Associate Software Engineer</h4>
                <h5>2019 - Present</h5>
                <p><em>Hexaware Technologies Ltd, Navi Mumbai, Maharastra </em></p>
                <p>
                <ul>
                  <li>Working as OBIEE Support Consultant</li>
                  <li>Trained in Business Intelligence Tools such as Microsoft Business Intelligence, Big Data tools like Hadoop, Databrick and Visualization tools such as Microsoft Power BI. </li>
                  <li>Microsoft certified: Azure Fundamentals</li>
                </ul>
                </p>
              </div>
            </div>
          </div>    
        </div>
    </section>
    <%- include('./includes/footer') %>
</body>
</html>